
@{
    ViewBag.Title = "PurchaseMessage";
    Layout = "~/Views/_Layout/_layout.cshtml";
    var createTime = ViewBag.createTime;
}

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Product_list","Home")">Products</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Cart","Home")">Cart</a></li>
            <li class="breadcrumb-item active">Purchase</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Purchase Message Start -->
<div class="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                @if (ViewBag.checkSuccess != null)
                {
                    <span class="text-center">

                        @if ((bool)ViewBag.checkSuccess)
                        {
                        <h1>
                            <div class="alert alert-success">
                                <strong><i class="far fa-check-circle"></i>&nbsp;Purchase Successful!</strong>
                            </div>
                        </h1>
                        <h3>Thank you for buying</h3>
                        <h2 id="autoChangePage"> Auto move to Home page in 5s..</h2>
                        }
                        else
                        {
                        <h1>
                            <div class="alert alert-danger">
                                <strong><i class="far fa-times-circle"></i>&nbsp;Fail!</strong> You can't make an order right now !
                            </div>
                        </h1>
                        <h3>Please try again after a few minius</h3>
                        }

                    </span>
                    <div class="contact-info">
                        <h2><strong>Create Time:&nbsp;</strong>@createTime</h2>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Purchase Message End -->
<!--/// JS ///-->
<script>
    var sec = 6;
    setInterval(function () {
        sec -= 1;
        $('#autoChangePage').html("Auto move to Home page in " + sec.toString() + "s...");
        if (sec == 0) {
            window.location.assign("/Home/Index");
        }
    }, 1000);
</script>